@model Skincare_Online_Shop_.NET.Models.Product

<h2>Product's details</h2>
<br />

@* afisarea unui produs impreuna cu categoria din care face *@
<br />
<div class="card">

    <partial name="ProductInfo" model="Model"></partial>

    @if((ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent) || ViewBag.EsteAdmin == true)
    {
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Edit product details</a>
            <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Delete product</button>
            </form>

        </div>
    }

</div>

<br />
<br />

@* afisare reviews impreuna cu butoanele de editare si stergere *@
<h3>Reviews</h3>
@if (Model.Reviews != null && Model.Reviews.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Grade</th>
                <th>Content</th>
                <th>Date</th>
                <th>Editing Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.Grade</td>
                    <td>@review.Content</td>
                    <td>@review.Date.ToString("MM/dd/yyyy")</td>

                    <td>
                        @if (review.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin == true)
                        {
                            <div class="d-flex">
                                <div>
                                    <a class="btn btn-outline-primary" asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id">
                                        <i class="bi bi-pencil-square"></i>Edit review
                                    </a>
                                </div>
                                <div>
                                    <form method="post" asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id">
                                        <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete review</button>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <span class="text-muted">No editing options</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>  
}
else
{
    <p>This product doesn't have any Reviews yet</p>
}

@* afisarea formularului in care se poate adauga un review *@

@if(User.IsInRole("User") || User.IsInRole("Partner") || User.IsInRole("Admin"))
{
    <h3>Add a Review</h3>
    <form asp-action="AddReview" asp-controller="Reviews" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="ProductId" value="@Model.Id" />
        <div class="form-group">
            <label for="Content">Comment:</label>
            <textarea class="form-control" name="Content"></textarea>
        </div>
        <div class="form-group">
            <label for="Grade">Grade (1-5):</label>
            <input id="Grade" name="Grade" type="number" min="1" max="5" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
}

<br />
<a href="/Products/Index" class="btn btn-success">See other products</a>