@model Skincare_Online_Shop_.NET.Models.Category

<h2>List of categories</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />

@foreach (var category in (ViewBag.AllCategories as IEnumerable<Skincare_Online_Shop_.NET.Models.Category>) ?? Enumerable.Empty<Skincare_Online_Shop_.NET.Models.Category>())
{
    <li>Category Id: @category.Id - Category Name: @category.CategoryName</li>
    <br />
    <a class="btn alert-success" asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">Display category</a>
    <a class="btn alert-success" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">Modify category</a>
    <br />
    <br />

}
<br />
<a class="btn btn-success" asp-controller="Categories" asp-action="Create">Add a new category</a>
<br />